body{
    background-color: aquamarine;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

button{
    width: 100px;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button:hover{
    background-color: transparent;
    color: black;
}